body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

h1 {
  color: #222;
  font-size: 2.5rem;
  margin-bottom: 20px;
}


.dino-video {
  width: 50vw; /* 屏幕宽度的50% */
  max-width: 400px;
  height: auto;
  border-radius: 12px;
}

